/*Title*/
h1{
    color: red;
    text-align: center;
    
}
/* Hit & Stand Button Container*/
.basicBtns{
   display: flex;
   justify-content: center;
   align-items: flex-end;
   position: fixed;
   bottom: 0;
   right: 0;

   
}
/* New Hand Button Container*/
#newHandBtn{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    left: 0;
 

}

/*Deal Button*/
#newDeal{
    color: white;
    background-color: purple;
    height: 75px;
    width: 75px;
    font-size: x-large;
}
/* The Actual Hit Button*/
#hit{
    color: white;
    background-color: red;
    height: 70px;
    width: 70px;
    font-size: x-large;
}
/*The Actual Stand Button*/
#stand{
    color: white;
    background-color: green;
    height: 75px;
    width: 75px;
    font-size: x-large;
}

/*The Actual New Hand Button*/
#newHand{
    color: white;
    background-color: blue;
    height: 75px;
    width: 75px;
    font-size: large;
}
/* Player & Dealer Points text */
.PlayerDealerPoints{
    color: red;
    font-size: large;
}
/* # of points text */
.pointTotal{
    color: yellow;
    font-size: xx-large;
}
/* container holding everything to do with points*/
.pointsContainer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    bottom: 50;
    left: 0;
 

    background-color: rgb(17, 77, 17);
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
   
    width: 200px;
    height: 200px;
}

/*player and dealer scoreboard text*/
.playerDealerScoreText{
    color: red;
    font-size: large; 
  
}

/* # on scoreboard text*/
.scoreboardTotal{
    color: yellow;
    font-size: xx-large;
}

/*container holding everything to do with scoreboard*/
/* .scoreboard{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    top: 50;
    right: 0;
 

    background-color: rgb(17, 77, 17);
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
   
    width: 200px;
    height: 200px;
} */

/*container for players cards*/
/* .playerCardsContainer{
    background-color: aqua;
    display: flex;
    height: 100vh;
    
} */
.playersCards{
    display: flex;
    height: 100vh;
    align-items: flex-end;
    justify-content: center;
    margin: auto 0;
}
/*container for dealers cards*/
.dealerCards{
   color: blue;
   display: flex;
   justify-content: center;
   align-items: flex-end;
   position: fixed;
   top: 0;
   right: 30%;
   left: 30%;
}
/*Styling for the actual dealers cards*/
#dealerCards img{
height: 150px;
width: 100px;
margin: 4px;
}
/*Styling for the actual players cards*/
.playerCards img{
    height: 150px;
    width: 100px;
    margin: 4px;
}
/*DOM message container*/
.resultsContainer{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    bottom: 0;
    right: 30%;
    left: 30%;
}
/*DOM message*/
#results{
    background-color: black;
    color: yellow;
}
body{
    /*background-image: url("blackjacktable.png");*/
    display: flex;
    background-color: indianred;
    background-repeat: no-repeat;
    background-size: cover;
    
}